.eng-section {
  background-color: #1C1C1C;
  padding: 64px 20px 64px 20px;
  font-family: 'Poppins', sans-serif;
}


.eng-container {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 10px;
    padding: 56px 0px 0 0px;
    width: 100%;
    box-sizing: border-box;
    width: 92%;
    margin: 0px auto;

}

.eng-container > div {
    flex: 1 1 calc((100% - 20px) / 3); /* 3 boxes per row with gap */
    max-width: calc((100% - 20px) / 3);
    box-sizing: border-box;
}
.eng-container > div:nth-child(3n+1) {
    margin-right: 10px; /* right margin for first box in each row */
}

.eng-card {
  /* width: 361px; */
  /* height: 401px; */
  background-size: cover;
  /* background-position: center; */
  border-radius: 8px;
  padding: 24px 18px ;
  position: relative;
  color: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.proo{
    color: #FB614B;
    font-family: Playfair Display;
    font-style: italic;

}
.eng-badge {
  background-color: #353434;
  font-size: 14px;
  font-weight: 500;
  width: fit-content;
  padding: 8px 8px 8px 5px;
  border-radius: 8px;
  display: inline-block;
  
}

.eng-title {
  font-size: 32px;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  margin-top: 145px;
  margin-bottom: 16px;
}

.eng-testimonial {
    background: #000;
    padding: 12px 15px 12px 10px;
    border-radius: 8px;
    display: flex;
    margin-top: -1px;
    align-items: flex-start;
    gap: 10px;
    min-height: 61px;
    margin-bottom: 45px;
    margin-right: 7px;
    position: relative;
    color: #fff;
}

/* Large Triangle pointer - top left */
.eng-testimonial::before {
    content: "";
    position: absolute;
    top: -16px;   /* adjust for bigger size */
    left: 15px;   /* offset from left */
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 16px solid #000; /* same as background */
}



.eng-avatar {
  width: 43px;
  height: 28px;
  margin-top: 5px;
  border-radius: 25px;
}

.eng-quote{
font-family: Poppins;
font-weight: 300;
font-style: Italic;
font-size: 14px;
line-height: 120%;
color: #FFFFFF; 
}

.eng-success {
  margin-top: 20px;
}

.eng-success-label {
  font-weight: bold;
  font-size: 14px;
  margin-top: -53px;
  padding-bottom: 5px;
}

.eng-success-value {
  font-size: 14px;
  margin-top: 9px;
  font-family: poppins;
  line-height: 1.2;
  width: 250px;
  color: #e2e2e2;
}

.eng-arrow-btn {
  position: absolute;
  bottom: 24px;
  right: 24px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.eng-arrow-img {
  width: 18px;
  height: 15px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.r {
  flex: 1 1;
  height: 1.5px;
  background: linear-gradient(to right,  #fffdfd 20%,#ede7e7 20%, #313030 70%);
  border: none;
  opacity: 0.4;
  max-width: 405px;
  margin-top: 10px;
}

.l {
  flex: 1 1;
  height: 1.5px;
  background: linear-gradient(to left,  #fffdfd 20%,#ede7e7 20%, #313030 70%);
  border: none;
  opacity: 0.4;
  max-width: 405px;
  margin-top: 10px;
}

.eng-arrow-btn:hover .eng-arrow-img {
  transform: rotate(45deg);
  
}


/* Responsive */
@media (max-width: 768px) {
  .eng-card {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .eng-title {
    font-size: 28px;
  }

  .eng-arrow-btn {
    width: 48px;
    height: 48px;
  }

  .eng-quote {
    font-size: 14px;
  }


  .eng-container {
    display: revert-layer;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 56px 10px 7px 10px;
    width: 100%;
    box-sizing: border-box;
    /* width: 92%; */
    margin: 0px auto;
}

   .eng-container > div {
        flex: 1 1 100%;
        max-width: 100%;
    }



}
