.trust-wrapper {
  background: #1C1C1C;
  color: white;
  padding: 50px 15px 90px 24px;
  text-align: center;
}



.accredited-text {
  font-size: 24px;
  margin-bottom: 15px;
  font-family: Playfair Display;
  font-style: bold italic;
  margin-top: -10px;
}

.logo-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 90px;
}

.partner-logo {
  max-width: 160px;
  height: auto;
}

.size{
    color: #020202;
}

.trust-box {
  background: #2B2A2A;
  border-radius: 12px;
  padding: 34px 20px 34px 20px;
  /* max-width: 1100px; */
  margin: 0 60px;
}


.trust-box h2 {
  font-family: Playfair Display;
font-weight: 700;
font-size: 38px;
line-height: 120%;
text-align: center;

}

.trust-box .highlight {
  color: #ff4e4e;
  font-weight: bold;
  font-style: italic;
}

.tp{
  font-size: 20px;
  font-style: poppins;
  color: #9A9A9A;
  padding-bottom: 30px;
}
.trust-box p {
  font-size: 20px;
    font-family: poppins;
    opacity: 0.85;
    line-height: 53px;
    color: #9A9A9A;
    font-weight: 500;

}

.person-card p {
      font-size: 12px;
    font-family: poppins;
    opacity: 0.85;
    line-height: 22px;
    color: #000000;
    font-weight: 400;
    padding: 8px 0px 12px 0px;

}

.trust-stats {
  display: flex;
  justify-content: space-around;
  /* margin-bottom: 23px; */
  line-height: 25px;
  font-size: 17px;
  text-align: center;
  padding: 0px 125px 60px 125px;
}

.trust-stats > div {
  flex: 1;
  padding: 0 20px;
  position: relative;
  font-family: Poppins;
font-weight: 500;
font-size: 20px;
line-height: 29px;


}

.trust-stats > div strong{
  font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    font-family: 'Poppins';
}


.trust-stats > div:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 5%;
  bottom: 5%;
  width: 2px;
  background: #DDE3E3; 
  opacity: 0.5;
}

.people-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.person-card {
  background: #141414;
  border-radius: 12px;
  padding: 10px;
  width: 100px;
  text-align: center;
}

.person-card img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.people-scroll-wrapper {
  overflow-x: auto;
  padding-bottom: 10px;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; 
}

.scroll-track {
  display: flex;
  width: fit-content;
  animation: scroll-left 160s linear infinite;
}

.people-grid {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  width: max-content;
}

.person-card {
  flex: 0 0 auto;
  width: 123px;
  scroll-snap-align: start;
  background: #ffffff;
  border-radius: 12px;
  padding: 0px 0 0 0px;
  text-align: center;
}

.people-scroll-wrapper::-webkit-scrollbar {
  height: 6px;
  display: none;
}

.people-scroll-wrapper::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-83.33%);
  }
}

.company-logo {
  width: 80px;
  margin-top: -10px;
  object-fit: contain;
  vertical-align: top;
  height: 22px;
}

/*************Responsive******************/
@media (max-width: 768px) {
  .trust-wrapper {
    padding: 50px 15px 50px 15px;
  }

  .accredited-text {
    font-size: 20px;
  }

  .logo-row {   
    margin-bottom: 60px;
}

  .trust-box {
    padding: 20px 10px;
    margin: 0px auto;

  }

  .trust-box h2 {
        
        font-family: Playfair Display;
        font-weight: 700;
        font-style: Bold;
        font-size: 23px;     ;
        line-height: 38px;
        letter-spacing: 0%;
        text-align: center;
  }

  .trust-box p {
      font-family: Poppins;
      font-weight: 400;     
      font-size: 16px;
      line-height: 25px;
      letter-spacing: 0px;
      text-align: center;
      margin-top: 0px;

  }

  /* .person-card {
    width: 80px;
  } */

  .people-scroll-wrapper {
    padding-bottom: 5px;
  }

  .trust-stats {
    display: flex;
    justify-content: space-around;   
    line-height: 22px;
    font-size: 16px;
    text-align: center;
    padding: 0px 8px 60px 8px;
}

.trust-stats > div:not(:last-child)::after {
    content: none;    
}

.trust-stats > div strong {
    font-weight: 600;
    font-size: 16px;
    line-height: 29px;
    font-family: 'Poppins';
}

.trust-stats > div {
    font-family: Poppins;
font-weight: 400;
font-size: 12px;
line-height: 30px;
letter-spacing: 0px;
text-align: center;
vertical-align: middle;
padding: 0px 5px;
}






}